.heart_icon_button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;

  :hover {
    transform: scale(1.1);
    transition: all 0.5s;
  }
}

.heart_icon {
  color: black;

  :hover {
    color: #FFEB00;
  }
}