
.container {
    margin-top: 4vw;
}

.containerLeftNav {
    position: sticky;
    top: calc(4vw + 46px);
    max-width: 250px;
    max-height: max-content;
    margin-left: 2vw;
}

.buttonToUp {
    position: fixed;
    bottom: 4vw;

    min-width: 4vw !important;
    min-height: 4vw;
    border-radius: 50%;
}